{% extends "base.html" %}

{% block content %}
<section class="text-center mb-4">
    <div class="row wow fadeIn">
        <div class="row">
            <div class="col-sm-8">
                <div class="card-group">
                    {% for item in object_list %}
                    <div class="col-sm-4">
                        <div class="card">
                            <div class="view overlay">
                                <img height="50px" src="{{item.img.url}}">
                                <div class="mask rgba-white-slight"></div>
                            </div>
                            <div class="card-body py-2"><a class="product-meta d-block fs-xs"
                                                           href="{% url 'main:category_detail' slug=item.category.id %}">{{item.category}}</a>
                                <div class="card-body"><a class="product-meta d-block fs-s pb-2"
                                                          href="{% url 'main:vendor_detail' slug=item.vendor.id %}">{{item.vendor}}</a>
                                    <h5 class="product-title fs-sm"><a
                                            href="{{item.get_absolute_url}}">{{item.name}}</a></h5>
                                    <div class="justify-content-between">
                                        <div class="product-price"><span
                                                class="text-accent">${{item.cost}}</span>
                                        </div>
                                        <div class="star-rating"><i
                                                class="star-rating-icon ci-star-filled active"></i><i
                                                class="star-rating-icon ci-star-filled active"></i><i
                                                class="star-rating-icon ci-star-filled active"></i><i
                                                class="star-rating-icon ci-star-filled active"></i><i
                                                class="star-rating-icon ci-star"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body card-body-hidden">
                                <div class="text-center pb-2">
                                </div>
                                <a aria-disabled="true" class="btn btn-primary btn-sm d-block w-100 mb-2"
                                   href="{{item.get_add_to_cart_url}}" role="button" tabindex="-1">Add to Cart</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <!-- Pagination-->
    {% if is_paginated %}
    <nav aria-label="Page navigation" class="d-flex justify-content-between pt-2">
        {% if page_obj.has_previous %}
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
                    Prev
                </a>
            </li>
        </ul>
        {% endif %}
        <ul class="pagination">
            <li class="page-item active">
                <a href="?page={{ page_obj.number }}">
                        <span class="page-link">{{ page_obj.number }}</span>
                </a>
            </li>
            </li>
        </ul>
        {% if page_obj.has_next %}
        <ul class="pagination">
            <li class="page-item">
                <a aria-label="Next" class="page-link" href="?page={{ page_obj.next_page_number }}">
                Next
                </a>
            </li>
        </ul>
        {% endif %}
    </nav>
    {% endif %}
            </div>
            <div class="col-md-4 mb-4">
                {% include "search_snippet.html" %}
            </div>
        </div>
    </div>
</section>
{% endblock %}
